

body {
    background-color: #444444;
}


h1 {
    text-align: center;

}


table {
    border: 1px solid;
    width: 100%;
}


td {
    border: 1px solid;
    padding: 3px 3px 3px 6px;
}


.trColomnTitles {
    font-weight: bold;
    text-align: center;
}


.trColomnNumbers {
    text-align: center;
}


.forSymbols {
    float: right;
    padding-right: 5px;
    cursor: pointer;
}


.symbolUp:after {
    content: '▴';
}


.symbolDown:after {
    content: '▾';
}


.symbolNotSort:after {
    content: "◈";
}
